/vendor/
/.php-cs-fixer.cache
/.phpunit.cache
/ngramx.phar
/coverage.xml
/coverage-html/

# Docker
/docker-compose.override.yml

# Ngramx CLI
/.ngramx.lock

# Node.js / Semantic Release
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.n8n/
